body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: 'Bree Serif', sans-serif;
  font-size: 90px;
  font-weight: 800;
}

@media only screen and (max-width: 480px)  {
  h1 {
      font-size: 50px;
  }
}

h2 {
  font-family: 'Bree Serif', sans-serif;
  font-size: 60px;
  font-weight: 800;
}


h4 {
  font-family: 'Bree Serif', sans-serif;
  font-size: 50px;
  font-weight: 800;
}

.carImg {
  width: 40%;
  height: auto;
  cursor: pointer;
}


img {
  width: 60%;
  height: auto;
  cursor: pointer;
}

col {
  font-family: 'Bree Serif', sans-serif;
  font-size: 60px;
  font-weight: 800;
}

.staraImg {
  width: 30%;
  height: auto;
  cursor: pointer;
}

.staraImg2 {
  width: 20%;
  height: auto;
  cursor: pointer;
}

.staraImg4 {
  width: 50%;
  height: auto;
  cursor: pointer;
}


h3 {
  font-family: 'Bree Serif', sans-serif;
  font-size: 40px;
  font-weight: 800;
}



p {
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  font-weight: 550;
}

.custom {
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
}

.commentImage {
  width: 30%;
  height: auto;
}

.asphaltImg {
  width: 30%;
  height: auto;
}

.plantinImg {
  width: 30%;
  height: auto;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}

.jump {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}